body {
    background-color: #0a192f !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.myprimary-color {
    color: #64ffda !important;
}

.mysecondary-color {
    color: #ccd6f6 !important;
}

.mytext-color {
    color: #8892b0 !important;
}

.mytertiary-color {
    color: #8892b0 !important;
}

.navbar {
    background-color: #0a192f !important;
    font-family: 'Roboto Mono', monospace;
}

.nav-logo {
    width: 100%;
    max-width: 50px;
}

.nav-link:hover,
.nav-link:active {
    color: #64FFDA !important;
}

.primary-btn {
    padding: 10px 20px !important;
    border: 1px solid;
    border-radius: 5px !important;
    border-color: #64FFDA;
}

.primary-btn:hover {
    color: #0a192f !important;
    background-color: #64FFDA;
    border-color: #64FFDA;
}

.line {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -5px;
    margin-left: 20px;
}

.arrow-list {
    font-size: 10px !important;
}

.mypic {
    width: 100%;
    max-width: 350px;
    border-radius: 3px;
    background-color: #64FFDA;
    box-shadow: 15px 15px 0 0 #0a192f, 15px 15px 0 2px #64FFDA;
    transition: box-shadow 0.10s ease-in-out, filter 0.10s ease-in-out;
}

.mypic:hover {
    filter: grayscale(0%);
    box-shadow: 20px 20px 0 0 #0a192f, 20px 20px 0 2px #64FFDA;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 15px 15px 0 0 #0a192f, 15px 15px 0 2px #64FFDA;
    }
    100% {
        box-shadow: 20px 20px 0 0 #0a192f, 20px 20px 0 2px #64FFDA;
    }
}