body {
    background-color: #0a192f !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.myprimary-color {
    color: #64ffda !important;
}

.mysecondary-color {
    color: #ccd6f6 !important;
}

.mytext-color {
    color: #8892b0 !important;
}

.mytertiary-color {
    color: #8892b0 !important;
}

.navbar {
    background-color: #0a192f !important;
    font-family: 'Roboto Mono', monospace;
}

.nav-logo {
    width: 100%;
    max-width: 50px;
}

.nav-link:hover,
.nav-link:active {
    color: #64FFDA !important;
}

.primary-btn {
    padding: 10px 20px !important;
    border: 1px solid;
    border-radius: 5px !important;
    border-color: #64FFDA;
}

.primary-btn:hover {
    color: #0a192f !important;
    background-color: #64FFDA;
    border-color: #64FFDA;
}

.line {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -5px;
    margin-left: 20px;
}

.arrow-list {
    font-size: 10px !important;
}

.mypic {
    width: 100%;
    max-width: 300px;
    border-radius: 6px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.mypic:hover {
    filter: grayscale(0%);
    box-shadow: none;
}
