body {
    background-color: #0a192f !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.myprimary-color {
    color: #64ffda !important;
}

.mysecondary-color {
    color: #ccd6f6 !important;
}

.mytext-color {
    color: #8892b0 !important;
}

.mytertiary-color {
    color: #8892b0 !important;
}

.navbar {
    background-color: #0a192f !important;
    font-family: 'Roboto Mono', monospace;
}

.nav-logo {
    width: 100%;
    max-width: 50px;
}

.active {
    color: #64FFDA !important;
}

.nav-link:hover,
.nav-link:active {
    color: #64FFDA !important;
}

.mytext-link {
    text-decoration: none;
    /* Remove the default underline */
    color: #64FFDA;
    /* Set the link color (you can change this to your preferred color) */
    position: relative;
    /* Set the position to relative for the pseudo-element */
}

.mytext-link::before {
    content: '';
    /* Add content to the pseudo-element */
    position: absolute;
    bottom: -3px;
    /* Position it just below the link text */
    left: 0;
    /* Start the underline from the left */
    width: 0;
    /* Initially, the underline has no width */
    height: 0.5px;
    /* Set the height and color of the underline */
    background-color: #74eed2;
    transition: width 0.4s ease;
    /* Add a transition effect for the width property */
}

.mytext-link:hover::before {
    width: 100%;
    /* Expand the underline to full width on hover */
}

.primary-btn {
    padding: 10px 20px !important;
    border: 1px solid;
    border-radius: 5px !important;
    border-color: #64FFDA;
}

.primary-btn:hover {
    color: #0a192f !important;
    background-color: #64FFDA;
    border-color: #64FFDA;
}

.line {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -5px;
    margin-left: 20px;
}

.arrow-list {
    font-size: 10px !important;
}

.mypic {
    width: 100%;
    max-width: 270px;
    border-radius: 3px;
    background-color: #64FFDA;
    box-shadow: 15px 15px 0 0 #0a192f, 15px 15px 0 2px #64FFDA;
    transition: box-shadow 0.10s ease-in-out, filter 0.10s ease-in-out;
}

.mypic:hover {
    filter: grayscale(0%);
    box-shadow: 20px 20px 0 0 #0a192f, 20px 20px 0 2px #64FFDA;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 15px 15px 0 0 #0a192f, 15px 15px 0 2px #64FFDA;
    }
    100% {
        box-shadow: 20px 20px 0 0 #0a192f, 20px 20px 0 2px #64FFDA;
    }
}

.tab-links {
    cursor: pointer;
    font-weight: 500 !important;
    margin-right: 0px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #64FFDA;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.active-tab::after {
    width: 100%;
}